body {
  font-family: arial, sans-serif;
  font-size: 14px;
}
h1 {
  color: black;
  font-size: 24px;
  margin-bottom: 0;
}
.weather-app {
  border: 1px solid;
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 0;
}
.app-wrapper {
  /* text-decoration: none; */
  max-width: 600px;
  margin: 30px auto;
}
.float-left {
  float: left;
}
/* .overview{
margin-bottom: 20px;
} */
.weather-temperature img {
  margin-left: 20px;
}
.weather-temperature strong {
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .unit {
  position: relative;
  font: 16px;
  top: -34px;
}
/* .weather-element{
    float: left;
    color:blue;
} */
.github {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: left;
  line-height: 20px;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
